/* FONTS */

@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* GLOBAL STYLES */

:root {
  --font-primary: 'Poppins', sans-serif;
  --font-secondary: 'Arvo', serif;
  --font-code: 'Roboto', monospace;
  --bg-color: #ffffff;
  --font-color: #000000;
  --btn-bg-color: #ff0000;
  --accent-color: #ff0000;
  --shadow-color: #a4a4a4;
  --header-shadow: #000000 0px 0px 5px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: var(--accent-color);
  /* background-image: linear-gradient(to right, var(--btn-bg-color) 70%, var(--bg-color)); */
}

body {
  background-color: var(--bg-color);
  display: flex;
  flex-flow: column;
  height: 100vh;
  color: var(--font-color);
  font-family: var(--font-primary);
}

section {
  flex: 1 1 auto;
}

p {
  margin-bottom: 8px;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  margin: 0 auto;
  padding: 1rem 1rem;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-container__item-left, .flex-container__item-right {
  padding: 5px;
}

.flex-container__item-left {
  flex: 50%;
}

.flex-container__item-right {
  flex: 50%;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.title h1 {
  font-size: 2.2rem;
  font-style: italic;
  text-shadow: 2px 2px var(--accent-color);
}

.title p {
  letter-spacing: 4px;
}

/* BASIC EFFECTS */

.overflow-hidden {
  overflow: hidden;
}

.align-center {
  align-items: center;
}

/* HEADER */

header {
  box-shadow: var(--header-shadow);
}

header .container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

footer {
  text-align: center;
  border-top: 1px solid var(--font-color);
}

.menu {
  display: flex;
  gap: 2rem;
  align-items: center;
}

/* IMAGES */

.img__nft {
  width: 100%;
  border-radius: 4px;
  max-width: 400px;
}

/* BUTTONS */

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  /* background: var(--btn-bg-color); */
  background-image: linear-gradient(to right, var(--btn-bg-color) 70%, var(--bg-color));
  color: var(--bg-color);
  font-family: var(--font-secondary);
  font-weight: bold;
  font-size: 1rem;
  text-transform: capitalize;
  transition: all 0.3s ease;
  box-shadow: 3px 3px 0 0 var(--shadow-color);
  cursor: pointer;
  position: relative;
  text-decoration: none;
  outline: none;
  border-radius: 30px;
}

.btn:hover {
  box-shadow: none;
  filter: brightness(120%);
  font-style: italic;
}

.wallet-btn {
  border-radius: 5rem;
  margin-left: 2rem;
}

.btn-icon {}

.btn-icon__img {
  width: 100%;
  max-width: 25px;
}

.btn-logo {}

.btn-logo__img {
  width: 100%;
  max-width: 150px;
  border-radius: 4px;
}

/* ACCORDION */

.accordion {
  /* background-color: var(--btn-bg-color); */
  background-image: linear-gradient(to right, var(--btn-bg-color) 40%, var(--bg-color));
  font-family: var(--font-secondary);
  color: var(--bg-color);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  border-radius: 4px;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
  box-shadow: 3px 3px 0 0 var(--shadow-color);
}

.active, .accodrion:hover {
  box-shadow: none;
}

.accordion:hover  {
  filter: brightness(120%);
  font-style: italic;
}

.panel {
  padding: 0 18px;
  background-color: var(--bg-color);
  display: none;
  overflow: hidden;
  margin-bottom: 10px;
}

/* PARALLAX SECTION */

.parallax {
    /* The image used */
    background-image: url("/images/assets/banner.png");

    /* Set a specific height */
    min-height: 300px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Filter */
    filter: brightness(0.6);
}

.parallax__img {}

/* ABOUT */

@media screen and (min-width: 768px) {
  .dropcaps:first-letter {
    float: left;
    font-size: 6rem;
    line-height: 0.65;
    margin: 0.1em 0.1em 0.2em 0;
  }
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {

  header .container {
    display: block;
    text-align: center;
  }

  .flex-container__item-left, .flex-container__item-right {
    flex: 100%;
    text-align: center
  }

  .menu {
    justify-content: center;
  }

  .wallet-btn {
    margin-left: 0;
    padding: 1rem;
    max-width: 8rem;
  }

  .parallax {
    background-attachment: scroll;
  }

  .parallax h1 {
    font-size: 2.5rem;
  }

  .parallax p {
    font-size: 1rem;
  }
}
